.user-avatar {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  justify-content: flex-end;
  color: var(--red);
  font-size: 3em;
  margin: 30px 30px 0 30px;

}
.user-avatar:hover {
  cursor: url("../../images/rainbow-reverse.png"), auto;
  color: var(--veronica-purple);
}

.user-avatar h3{
font-size: 0.5em;
}

.icons-style {
  font-size: 2em;
  color: var(--red);
  text-decoration: none;
}

.icons-style:hover{
  color: var(--lif);
}


.icons-group-on {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-right:20px;
}

.icons-group-off {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* margin-right:90px; */
}

.menu-btn-desktop{
  font-size: 1.8em;
}


.icons-style:hover {
  color: var(--carnation-pink);
  cursor: url("../../images/rainbow-reverse.png"), auto;
}

.selected {
  color: var(--carnation-pink); 
  text-shadow: 2px 2px 1px var(--red);
}

.menu-btn{
  font-size: 3em;
  margin: 30px;
  margin-bottom: 0;
}

.menu-btn h3{
  font-size: 0.5em;
}

.menu-btn:hover{
  color: var(--carnation-pink) !important;
}
