.title {
    margin: 10px auto;
    max-width: 80%;
    padding: 1em;
    font-size: 1.2em;
    color:red;
  }
  
  .artist {
    color: #e42525;
    margin: 1em auto;
  }
  
  .artist:hover {
    color: #8447ff;
    text-shadow: 2px 2px #85c7f2;
  }
  