.App {
  text-align: center;
}

.App-header {
  background-color: #ff99c9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7ee280;
}
.App-header{
  font-family: Jersey;
}

.app-title{
  font-size: 5em;
  border: red;
  text-shadow: 2px 2px #8447FF;
}

.default-btn {
  font-family: bitmap;
  font-size: 20px;
  color: #8447FF;
  background-color: #85C7F2;
  padding: 10px 15px;
  border-radius: 10px;
  border: 4px 2px #E42525;
  margin: 2em;
}

.App-link {
  color: #61dafb;
}
.test{
  color: red;
  background-color: blue;
}

@font-face {
  font-family: Jersey;
  src: url(../fonts/Jersey10Charted-Regular.ttf);
}

@font-face {
  font-family: bitmap;
  src: url(../fonts/8-bit-pusab.ttf);
}
