/* 
COLOR PALLETE WEBSITE:
Carnation Pink: #FF99C9
Light Green: #7EE280
Maize Yellow: #F8E777
Veronica Purple: #8447FF
Light Blue Sky: #85C7F2
Red: #E42525
*/
.App {
  text-align: center;
  background-color: rgba(255, 153, 201, 0.85);
  cursor: url("../images/rainbow.png"), auto;
  animation: cursorChange 1s infinite;
  margin: auto;
  padding: 1em 2em;
  overflow: auto;
}

.cards-style {
  background-color: blue;
  color: #e42525;
  padding: 1em;
  border-radius: 10px;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #7ee280;
  font-family: bitmap;
}

.App-header video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.input-form {
  display: flex;
  background-color: #f8e777;
  margin: 0.5em;
}

.group-form {
  color: #8447ff;
}

.app-title {
  font-family: Jersey;
  font-size: 5em;
  color: #7ee280;
  text-shadow: 2px 2px #8447ff;
}

.changing-colors {
  margin: 0.5em auto;
  animation: colorChange 30s infinite alternate;
  font-size: 8em;
}

.default-btn {
  font-size: 20px;
  color: #8447ff;
  background-color: #85c7f2;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #7ee280;
  margin: 1.2em;
}

.default-btn:hover {
  color: #85c7f2;
  background-color: #8447ff;
  cursor: url("../images/rainbow-reverse.png"), auto;
  border: 1px solid #e42525;
}

.icons-style {
  font-size: 1.4em;
  color: #e42525;
  text-decoration: none;
}
.icons-style h4 {
  font-size: 0.2em;
}
.icons-style:hover {
  color: #7ee280;
}

.icons-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.user-menu {
  margin-right: 2em;
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: right;
  align-items: center;
}

/* User Interface */

.table-header {
  background: #f8e777;
  margin: auto;
}

.table-header th {
  background: #8447ff;
  color: #85c7f2;
  padding: 1em;
  font-size: 0.5em;
}

.table-header td {
  padding: 1em;
  border: 3px dotted #85c7f2;
  color: #8447ff;
  font-size: 0.5em;
}

.update-btn {
  background: #7ee280;
  color: #e42525;
  font-size: 1em;
}

.delete-btn {
  background: #e42525;
  color: #7ee280;
  font-size: 1em;
}

.add-video-btn {
  background: #8447ff;
  color: #f8e777;
}

.add-video-btn:hover {
  color: #e42525;
  background-color: #f8e777;
}

/*  */

.group-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* style for random rainbow page */

.title {
  background-color: #e42525;
  text-shadow: 2px 2px #ff99c9;
  margin: 1em 10em;
  padding: 1em;
  font-size: 1.2em;
}

.artist {
  color: #e42525;
  margin: 1em;
}

.artist:hover {
  color: #8447ff;
}

.description {
  margin: 2em 10em;
  background: #f8e777;
}

.duration {
  background: #8447ff;
  padding: 1em;
  font-size: 0.8em;
  margin: 2em 10em;
}

.duration-label {
  margin-right: 1em;
  margin: 1em;
}

.duration-select {
  background-color: #f8e777;
  border-radius: 10px;
  padding: 0.2em;
  color: #8447ff;
  border: 2px solid #7ee280;
}

.btn-random-video {
  background-color: #f8e777;
  color: #ff99c9;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  color: #8447ff;
  border: 2px solid #7ee280;
  font-size: 2em;
  margin: 2em;
}

.btn-random-video:hover {
  border: 2px solid #8447ff;
  color: #f8e777;
  background-color: transparent;
}
.btn-random-video-after {
  font-size: 1em;
}

/* email verification */
.email-confirmation {
  color: red;
  margin: 2em;
}

.email-confirmation-child {
  margin: 1em;
  line-height: 2em;
}

.email-confirmation h2 {
  text-shadow: 2px 2px 5px #7ee280;
}

.none-text-decoration {
  text-decoration: none;
  color: #8447ff;
}

.none-text-decoration:hover {
  color: #7ee280;
  text-shadow: 1px 1px #8447ff;
}

/* Add new video */

.add-video-style,
.edit-profile-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-video-form,
.edit-profile-form {
  margin: 2em;
}

/* error */

.error {
  color: #e42525;
}

/* Animations */

/* color change of title Home Page */

@keyframes colorChange {
  0% {
    color: #ff99c9;
    text-shadow: 2px -2px #e42525;
  }
  10% {
    color: #7ee280;
    text-shadow: -2px 2px #ff99c9;
  }
  20% {
    color: #f8e777;
    text-shadow: -2px -2px #7ee280;
  }
  30% {
    color: #8447ff;
    text-shadow: 2px 2px #f8e777;
  }
  40% {
    color: #85c7f2;
    text-shadow: 2px -2px #8447ff;
  }
  50% {
    color: #e42525;
    text-shadow: -2px 2px #85c7f2;
  }
  60% {
    color: #ff99c9;
    text-shadow: -2px -2px #7ee280;
  }
  70% {
    color: #7ee280;
    text-shadow: -2px 2px #e42525;
  }
  80% {
    color: #f8e777;
    text-shadow: 2px -2px #ff99c9;
  }
  90% {
    color: #8447ff;
    text-shadow: 2px 2px #85c7f2;
  }
  100% {
    color: #85c7f2;
    text-shadow: -2px -2px #e42525;
  }
}

@keyframes cursorChange {
  0% {
    cursor: url("../images/rainbow.png"), auto;
  }
  50% {
    cursor: url("../images/rainbow-reverse.png"), auto;
  }
  100% {
    cursor: url("../images/rainbow.png"), auto;
  }
}

/* fonts */

@font-face {
  font-family: Jersey;
  src: url(../fonts/Jersey10Charted-Regular.ttf);
}

@font-face {
  font-family: bitmap;
  src: url(../fonts/8-bit-pusab.ttf);
}
